li a {
  color: green;
  /* font-family: Helvetica, "Times New Roman", sans-serif; */
  /* font-family: Verdana, DejaVu Sans, sans-serif; */
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
h1   {
  color: #0000ff;
  /* font-family: Helvetica, "Times New Roman", sans-serif; */
  font-size: 36px;
}
label {
  color: green;
  /* font-family: Helvetica, "Times New Roman", sans-serif; */
  font-size: 18px;
}
li {
  color: green;
  /* font-family: Helvetica, "Times New Roman", sans-serif; */
  font-size: 18px;
}
.greeting {
  height: auto;
  width: 150px;
}

.profile_pic {
  height: 300px;
  width: auto;
}

.copyright {
  color: white;
  font-size:70%;
}
